<div *ngIf="!!listaPokemons">
    <p>Atualmente há {{listaGeracoes.count}} gerações de Pokemóns!</p>
    <div class="container">
        <ul class="borda m-1p p-2p" *ngFor="let item of listaGeracoes.results; let i = index" (click)="onSelect(i+1)">
            <li>{{item.nome | titlecase}}</li>
            <ul *ngFor="let item of this.listaVersoes[i]">
                <li>{{item.name | titlecase}}</li>
            </ul>
            <p>Contendo {{listaPokemons[i].length}} pokémons novos</p>
        </ul>
    </div>
</div>